include pyproject.toml

include Pipfile
include *.lock

# Include the README
include *.md

# Include the license file
include LICENSE

# Include the data files
recursive-include data *

recursive-include aur_deploy *.py